{% extends 'symfonator.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">

            <h3>Student</h3>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ student.id }}</td>
                    </tr>
                    <tr>
                        <th>FirstName</th>
                        <td>{{ student.firstName }}</td>
                    </tr>
                    <tr>
                        <th>FatherName</th>
                        <td>{{ student.fatherName }}</td>
                    </tr>
                    <tr>
                        <th>LastName</th>
                        <td>{{ student.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td>{{ student.birthday ? student.birthday|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Cnp</th>
                        <td>{{ student.cnp }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div>
                    <a class="col align-self-end" href="{{ path('student_edit', {'id': student.id}) }}">
                        <button type="button" class="btn cur-p btn-outline-info">Edit</button>
                    </a>
                </div>

                <div>
                    {{ include('student/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


